.header {
	display: flex;
	flex-direction: row;
	height: 75px;
	width: 100%;
	justify-content: space-around;
	background-color: #dde9f5;
}

.header-span {
	width: 75%;
	text-align: center;
	font-size: 64px;
    color:#1C6CE5;
}