.div-container { 
    display: flex; 
    padding-top: 2%;
    padding-bottom: 2%;
}

.div-text { 
    flex: 1; 
    padding-left: 3%;
}

.titulo {
    padding-top: 5%;
    font-size: 36px;
}

.texto {
    padding-top: 3%;
    text-align: justify;
    font-size: 36px;
}

.div-img { margin-right: 2%; } 

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #00f;
	-webkit-transition: 0.5s;
	border: 2px solid white;
	border-radius: 20px;
  }

  .p-all {
	width: 100%;
	margin: 8px 0;
	float: left;
	display: inline-block;
	padding: 50px;
	margin-top: -20px;
  }

  .div-all {
	width: 47%;
	height: 200px;
	display: inline-block;
  }

  .esquerda {
	float: left;
	padding: 50px;
  }

  .direita {
	float: right;
	padding: 50px;
  }

  .centralizar {
	margin: 20px 0;
	float: center;
	width: 100%;
	margin-bottom: 300px;
	padding: 50px;
  }

  .botao {
	text-align: center;
	width: 100%;
	height: 40%;
	padding: 50px;
  }

  .faixa {
	width: 100%;
	height: 10%;
	background-color: white;
	margin-top: 0%;
  }

  .rodape1 {
	float: left;
	padding: 50px;
	display: inline-block;
  }

  .rodape2 {
	float: right;
	padding: 50px;
	display: inline-block;
  }

  textarea {
	width: 100%;
	height: 300px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
  }
